@model IEnumerable<CodeVista.Models.KullaniciProfili>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TercihEdilenDil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilResmiURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.İlgiAlanlari)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciRolu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SonGirisTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilTamamlamaDurumu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SosyelMedyaHesaplari)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.İletisimBilgileri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdemeBilgileri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeviyeİD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanicilar.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resimler.Yol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TercihEdilenDil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilResmiURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cinsiyet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DogumTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ulke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sehir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.İlgiAlanlari)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciRolu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KayitTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SonGirisTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilTamamlamaDurumu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SosyelMedyaHesaplari)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.İletisimBilgileri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OdemeBilgileri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeviyeİD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanicilar.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resimler.Yol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KullaniciAdi }) |
            @Html.ActionLink("Details", "Details", new { id=item.KullaniciAdi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KullaniciAdi })
        </td>
    </tr>
}

</table>
