@model IEnumerable<CodeVista.Models.Kaynaklar>
@Scripts.Render("~/Layout/jquery")
@Styles.Render("~/Layout/css")
<!-- Bootstrap kart bileşenlerini kullanarak kaynakları göstermek için bir konteyner -->
<div class="container">
    <div class="row">
        <!-- Her bir kaynak için döngü başlatılıyor -->
        @foreach (var kaynak in Model)
        {
            <!-- Her kartın bulunacağı sütun belirleniyor -->
            <div class="col-md-4 mb-4">
                <!-- Kart bileşeni başlangıcı -->
                <div class="card h-100">
                    <!-- Kart gövdesi -->
                    <div class="card-body">
                        <!-- Kaynağın başlığı -->
                        <h5 class="card-title">@kaynak.KullaniciSeviyeleri.SeviyeAdi</h5>
                        <!-- Kaynağın tipi veya kısa açıklaması -->
                        <p class="card-text">@kaynak.KaynakTipi</p>
                    </div>
                    <!-- Kart alt kısmı (footer) -->
                    <div class="card-footer">
                        <!-- Kaynağa gitmek için bir bağlantı -->
                        <a href="@kaynak.KaynakAdi" class="btn btn-primary stretched-link" target="_blank">Kaynağa Git</a>
                    </div>
                </div>
                <!-- Kart bileşeni bitişi -->
            </div>
        }
    </div>
</div>



