@model IEnumerable<CodeVista.Models.Konular>
@Scripts.Render("~/Layout/jquery")
@Styles.Render("~/Layout/css")
<div class="news_section layout_padding">
    <div class="container">
        <h1 class="news_taital" style="font-size: 32px; font-weight: bold; margin-bottom: 20px;">Konular</h1>
        <div class="news_section_2">
            <!-- Model içinde döngü: Her bir konu için bir kutu oluşturulacak -->
            @foreach (var item in Model)
            {
                <div class="news_box" style="margin-bottom: 20px; padding: 20px; border: 1px solid #ddd;">
                    <div class="news_img">
                        <!-- Konunun resmini göstermek için bir img etiketi -->
                        <img src="~/images/@item.Sektorler.resim" alt="Resim Yok" style="max-width: 100%; max-height: 100%; width: 350px; height: 300px;">
                    </div>
                    <h2 class="does_taital" style="margin-top: 10px;">@Html.DisplayFor(modelItem => item.KonuAdi)</h2>
                    <ul style="list-style-type: none; padding: 0;">
                        <li><strong>Sektör Adı:</strong> @Html.DisplayFor(modelItem => item.Sektorler.SektorAdi)</li>
                        <li><strong>Konu Tipi:</strong> @Html.DisplayFor(modelItem => item.KonuTipi)</li>
                        <li><strong>Konu Açıklama:</strong> @Html.DisplayFor(modelItem => item.KonuAciklama)</li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
